<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="presettingsSection" type="ResizeWindows.Config.PresettingsSection, ResizeWindows"/>
	</configSections>
	<presettingsSection>
		<settings>
			<add Name="Default" Height="0" Width="0" />
			<add Name="Firefox 1280" Height="799" Width="1296" />
			<add Name="Firefox 1024" Height="655" Width="1040" />
		</settings>
	</presettingsSection>
</configuration>